.calendo-ic
  +size(160px 42px)
  background: url(../img/calendo-ic.svg) no-repeat
  display: inline-block
  background-size: contain !important

.calendar-ic
  +size(18px 19px)
  display: inline-block
  background-size: cover
  margin-right: 10px
  transform: translateY(0px)
  vertical-align: bottom
  display: inline-block
  &--week
    background-image: url(../img/calendarWeek-ic.svg)
  &--month
    background-image: url(../img/calendarMonth-ic.svg)
  &--year
    background-image: url(../img/calendarYear-ic.svg)
  &--without
    background-image: url(../img/calendarNodate-ic.svg)

.flame-ic
  +size(18px)
  background: url(../img/hot-ic.svg)
  display: inline-block
  background-size: 11px 18px
  background-repeat: no-repeat
  background-position: center center

  margin-right: 10px
  transform: translateY(-2px)
  vertical-align: bottom
  display: inline-block

.settings-ic,
.logout-ic,
.login-ic
  +size(18px)
  vertical-align: bottom
  display: inline-block
  float: right
  background-size: contain

.logout-ic
  +size(15px)
  padding-left: 3px
  background-image: url(../img/logout-ic.svg)

.login-ic
  +size(18px 17px)
  padding-left: 3px
  background-image: url(../img/login-ic.svg)

.settings-ic
  background-image: url(../img/settings-ic.svg)


.check-ic
  +size(20px)
  display: inline-block
  vertical-align: middle
  margin-top: 0
  background-size: contain
  background: url(../img/check-ic.svg) no-repeat

  &--menu
    +size(18px)
    margin-top: 0
    margin-right: 10px
    vertical-align: bottom
    transform: translateY(-2px)
    background-size: cover
