
.left-bar
  &__profile
    padding: 0 20px 15px 35px
    margin-bottom: 15px
    max-width: 235px

    img, h4
      display: inline-block
      vertical-align: top

    img
      +size(45px)
      border: 1px solid rgba(#000, .1)
    h4
      padding-top: 5px
      float: right
      display: block
      margin-top: 0
      padding-left: 10px
      width: 100%
      max-width: 135px

      a
        font-size: 1.5rem


  &__logo
    width: 90%
    border-radius: 6px
    padding: 0px 20px 20px 20px
    margin-left: 2px
    position: relative
    margin-bottom: 20px
    text-align: center

  &__action
    width: 90%
    border-radius: 6px
    padding: 15px 20px
    margin-left: 2px
    background: #fff
    box-shadow: 0 0 8px 0 rgba(#000, .05)

  &__footer
    width: 90%
    padding: 15px 5px
    margin-left: 2px
    text-align: center
    p
      font-size: 0.9em
      color: #ababab

  .badge
    float: right

.input-form__file
  width: 100%
  min-width: 200px
  height: 42px
  line-height: 40px
  margin-bottom: 15px
  cursor: pointer
  position: relative
  display: inline-block
  white-space: nowrap
  text-align: right

  &:before,
  &:after
    box-sizing: border-box
    height: inherit
    overflow: hidden
    text-overflow: ellipsis
    text-align: center
    font-weight: normal
    vertical-align: middle

  &:before
    z-index: 1
    content: "Файл не выбран"
    display: block
    position: absolute
    width: 100%
    background-color: transparent
    color: rgb(133, 133, 133)
    border-width: 1px
    border-style: solid
    border-color: rgba(0, 0, 0, 0.2)
    border-image: initial
    padding: 0px 84px 0px 10px
    border-radius: 4px

  &:after
    content: "Выбрать"
    display: inline-block
    position: relative
    width: 74px
    font-size: 14px
    background-color: #247CAD
    color: rgb(255, 255, 255)
    padding: 0px 4px
    border-radius: 0px 4px 4px 0px

  input
    position: absolute
    width: 0
    overflow: hidden
    opacity: 0

.input-form__file[title]:not([title=""]):before
  content: attr(title)
  color: #121212

.row .footer
  text-align: left
  margin-top: 50px
  margin-bottom: 15px
  text-align: center
