<!doctype html>
<!--[if IE 8 ]><html class="no-js ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <title>Calendo</title>
    <meta charset="utf-8">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Calendo">
    <meta name="image" content="build/img/cover.png">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Calendo">
    <meta itemprop="description" content="Calendo">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Calendo" />

    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">

    <link rel="manifest" href="favicon/manifest.json">
    <link rel="shortcut icon" href="favicon/favicon.ico">

    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="build/css/main.css">
    <link rel="stylesheet" href="build/css/remodal.css">
    <link rel="stylesheet" href="build/css/remodal-default-theme.css">
</head>
<body>
