<div class="remodal task-modal" data-remodal-id="add-tag">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="tag-name">Название тега</label>
        <input id="tag-name" type="text" class="form-control" placeholder="Работа">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label>Цвет тега</label> <br>

        <label class="input-form__label--radio" id="white"><span class="tag tag--red">Красный</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--blue">Синий</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--yellow">Желтый</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--pink">Розовый</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--orange">Оранжевый</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--green">Зеленый</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
        <label class="input-form__label--radio" id="white"><span class="tag tag--brown">Коричневый</span>
          <input type="radio" checked="" name="personType">
          <div class="indicator"></div>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button data-remodal-action="confirm" class="remodal-confirm">Добавить</button>
      <button data-remodal-action="cancel" class="remodal-cancel">Закрыть</button>
    </div>
  </div>
</div>

<!-- <form>
  <div class="form-group">
    <label for="auth-mail">Эл. почта</label>
    <input type="email" class="form-control" id="auth-mail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="auth-pass">Пароль</label>
    <input type="password" class="form-control" id="auth-pass" placeholder="Пароль">
  </div>
  <div class="form-group">

  </div>
  <button type="submit" class="btn btn-block btn-primary btn-lg">Войти</button>
</form> -->

<!-- <form>
  <div class="form-group">
    <label for="auth-mail">Эл. почта</label>
    <input type="email" class="form-control" id="auth-mail2" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="auth-pass">Пароль</label>
    <input type="password" class="form-control" id="auth-pass2" placeholder="Пароль">
  </div>
  <div class="form-group">

  </div>
  <button type="submit" class="btn btn-block btn-primary btn-lg">Зарегистрироваться</button>
</form> -->
<!--
<div class="remodal auth" data-remodal-id="auth">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <form>
      <div class="form-group">
        <label for="auth-mail">Эл. почта</label>
        <input type="email" class="form-control" id="auth-mail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="auth-pass">Пароль</label>
        <input type="password" class="form-control" id="auth-pass" placeholder="Пароль">
      </div>
      <div class="form-group">

      </div>
      <button type="submit" class="btn btn-block btn-primary btn-lg">Войти</button>
    </form>
  </div>
</div> -->

<div class="col-xs-12 col-md-3">

  <div class="left-bar">

    <div class="left-bar__logo row">
      <a href="#!"><i class="calendo-ic"></i></a>
    </div>

    <div class="left-bar__profile row">

      <!--  Вошли в аккаунт  -->
      <div class="profile">
        <img src="http://placehold.it/45" class="img-circle">
        <h4>Manu Khakulov</h4>
      </div>

      <!-- Не вошли в аккаунт -->
      <!-- <div class="profile profile--login">
        <img src="build/img/avatar.png" class="img-circle">
        <h4>Аноним</h4>
      </div> -->

    </div>

    <div class="left-bar__action row">
      <ul class="nav nav-pills nav-stacked">
        <!-- Вошли в аккаунт -->
        <li><a href="#"><i class="settings-ic"></i>Настройки</a></li>
        <li><a href="#"><i class="logout-ic"></i>Выйти</a></li>

        <!-- Не вошли в аккаунт -->
        <!-- <li><a href="#"><i class="settings-ic"></i></a></li> -->
        <!-- <li><a href="#auth"><i class="login-ic"></i>Войти</a></li> -->
        <!-- <li><a href="#registration"><i class="logout-ic"></i>Регистрация</a></li> -->

        <hr>
        <li class="active">
          <a href="#"><i class="calendar-ic calendar-ic--week"></i>
            Неделя <span class="badge">42</span></a></li>
        <li>
          <a href="#"><i class="calendar-ic calendar-ic--month"></i>
            Месяц <span class="badge">139</span></a></li>
        <li>
          <a href="#"><i class="calendar-ic calendar-ic--year"></i>
            Год</a>
        </li>
        <li>
          <a href="#"><i class="calendar-ic calendar-ic--without"></i>
            Без даты <span class="badge">5</span></a>
        </li>
        <li>
          <a href="#"><i class="flame-ic"></i>
            Важные <span class="badge">5</span></a>
        </li>
        <li>
          <a href="#"><i class="check-ic check-ic--menu"></i>
            Выполненные <span class="badge">5</span></a>
        </li>
        <hr>
        <li>
          <div class="tag tag--red">Срочно</div>
          <div class="tag tag--blue">Работа</div>
          <div class="tag tag--yellow">Курсовая</div>
          <div class="tag tag--pink">Остальное</div>
          <div class="tag tag--orange">Остальное</div>
          <div class="tag tag--green">Остальное</div>
          <div class="tag tag--brown">Остальное</div>
          <div class="tag tag--add" data-remodal-target="add-tag">Добавить тег</div>
        </li>
      </ul>
    </div>

  </div>

</div>
