<div class="remodal task-modal" data-remodal-id="task-modal">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <h2>Покормить кошку. <small><br>Изменение записи</small></h2>
    </div>

    <div class="row">
      <form>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Заданные параметры</h3>
          </div>
          <div class="panel-body">
            <p>На день: <b>Понедельник, 15 мая</b></p>
            <p>Длительность: <b>0:30</b></p>
            <p>Напоминание: <b>05 мая 2015, 19:30</b></p>
          </div>
        </div>
        <div class="form-group">
          <label for="task-time-finish">Задать дату выполнения</label>
          <input id="task-time-finish" type="date" class="form-control" placeholder="Text input">
        </div>
        <div class="form-group">
          <label for="task-endTime">Время напоминания</label>
          <input id="task-endTime" type="datetime-local" class="form-control" placeholder="Text input">
        </div>
        <div class="form-group">
          <label for="task-repeat">Длительность</label>
          <input id="task-repeat" type="number" class="form-control" placeholder="Text input">
        </div>

        <div class="form-group">
          <label for="task-notes">Заметка</label>
          <textarea class="form-control" id="task-notes" rows="3"></textarea>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-default">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="row">
    <div class="form-group">
      <input type="text" class="form-control" id="addTodo" placeholder="Какие планы?">
    </div>
  </div>
  <div class="row">
    <div class="day-name"><h2>Все задачи за неделю</h2></div>

    <div class="task-item">
      <div class="task-item__check">
        <i class="check-ic"></i>
      </div>
      <div data-remodal-target="task-modal" class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags">
        <div class="tag tag--red">Срочно</div>
        <div class="tag tag--blue">Работа</div>
      </div>
      <div class="task-item__time">15 часов</div>
    </div>

    <div class="task-item task-item--completed">
      <div class="task-item__check">
        <i class="check-ic"></i>
      </div>
      <div data-remodal-target="task-modal" class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags"></div>
      <div class="task-item__time">15 часов</div>
    </div>

  </div>
</div>
