<div class="col-xs-12 col-md-6">
  <div class="row">
    <div class="form-group">
      <input type="text" class="form-control" id="addTodo" placeholder="Какие планы?">
    </div>
  </div>
  <div class="row">
    <div class="day-name"><h2>Все задачи за неделю</h2></div>

    <div class="task-item">
      <div class="task-item__check">
        <checkIcon class="check-ic" />
      </div>
      <div class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags">
        <div class="tag tag--red">Срочно</div>
        <div class="tag tag--blue">Работа</div>
      </div>
    </div>

    <div class="task-item task-item--completed">
      <div class="task-item__check">
        <!-- <checkIcon class="check-ic" /> -->
        <i class="check-ic"></i>
      </div>
      <div class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags"></div>
    </div>

  </div>
</div>
