<div class="remodal task-modal" data-remodal-id="task-modal">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
      <h2>Покормить кошку. <small><br>Изменение записи</small></h2>
    </div>

    <div class="row">
      <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <fieldset class="form-group row">
          <div class="col-xs-12">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
          </div>
        </fieldset>

        <div class="form-group">
          <label for="exampleTextarea">Example textarea</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-default">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="row">
    <div class="form-group">
      <input type="text" class="form-control" id="addTodo" placeholder="Какие планы?">
    </div>
  </div>
  <div class="row">
    <div class="day-name"><h2>Все задачи за неделю</h2></div>

    <div data-remodal-target="task-modal" class="task-item">
      <div class="task-item__check">
        <checkIcon class="check-ic" />
      </div>
      <div class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags">
        <div class="tag tag--red">Срочно</div>
        <div class="tag tag--blue">Работа</div>
      </div>
    </div>

    <div class="task-item task-item--completed">
      <div class="task-item__check">
        <!-- <checkIcon class="check-ic" /> -->
        <i class="check-ic"></i>
      </div>
      <div class="task-item__text">Lorem ipsum dolor sit amet.</div>
      <div class="task-item__tags"></div>
    </div>

  </div>
</div>
